/* 
Palette Name: Ink-Crimson
Description: 10 colors picks with a bit of blues, for the court of the Crimson King!  Feel free to tag me (@inkpendude) on social media so I can share it too! I love to see what you guys do with this colors.
Colors: 10
*/
:root {
    --Folly: #ff0546;
    --AmaranthPurple: #9c173b;
    --TyrianPurpleLight: #660f31;
    --TyrianPurpleDark: #450327;
    --DarkPurpleLight: #270022;
    --DarkPurpleDark: #17001d;
    --Licorice: #09010d;
    --ElectricBlue: #0ce6f2;
    --CelestialBlue: #0098db;
    --LapisLazuli: #1e579c;
}